<p id="notice"><%= notice %></p>


<div class="card">
<h1 class="center">Featured Movies</h1>
</div>

<div class="row">
<% @movies.each do |movie| %>
  <div class="col sm">
    <div class="card hoverable">
      <img class="poster" src="<%= movie.poster %>">
      <div class="card-content">
        <p><%= movie.name %></p>
      </div>
      <div class="card-action">
        <%= link_to "More Info", movie, class: "btn btn-default" %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<br>

<%= link_to 'New Movie', new_movie_path, class: "btn btn-primary" %>
