      <div class="row forms">
        <div class="col s12 m12">
          <div class="card hoverable">
            <div class="card-content">
              <h5><%= @movie.name %></h5></br>
              <p id="notice"><%= notice %></p>
              <p><img class="postersh" src="<%= @movie.poster %>"></p></br>

                <p>
                  <strong>Release year:</strong>
                  <%= @movie.release_year %>
                </p>
                <p>
                  <strong>Genre:</strong>
                  <%= @movie.genre.name %>
                </p></br>

                <p>
                  <strong>Description:</strong>
                  <%= @movie.description %>
                </p></br>

                <iframe width="560" height="315" src="//www.youtube.com/embed/<%= @movie.youtube_id %>" frameborder="0" allowfullscreen></iframe> 
            </div>
            <div class="card-action">
            <% if current_user.admin? %>
              <%= link_to 'Edit', edit_movie_path(@movie) %>
              <% end %> |
              <%= link_to 'Back', genres_path %>
            </div>
          </div>
        </div>
      </div>
            