<body class="pass">
<div class="row forms cent">
        <div class="col s12 m6">
          <div class="card hoverable">
            <div class="card-content">
				<h2>Forgot your password?</h2>
				</br>

				<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
				  <%= devise_error_messages! %>

				  <div class="field">
				    <%= f.label :email %><br />
				    <%= f.email_field :email, autofocus: true %>
				  </div>

				  <div class="actions">
				    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
                               <i class="icon-ok icon-white"></i> Send me password reset instructions
                              <% end %>

				  </div>
				<% end %>
				</br>

				<%= render "devise/shared/links" %>
				</div>
			</div>
		</div>
	</div>	
	</body>
