<!DOCTYPE html>
<html>
<head>
  <title>Raindance</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" href="https://cdn0.iconfinder.com/data/icons/weather-web-app-ui/100/weather-13-128.png" type="image/x-icon" />
</head>
<body>
	<nav class="teal">
    <div class="nav-wrapper container">
      <a href="" class="brand-logo">Raindance</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <%if signed_in?%>
          <li><%=link_to current_user.email, edit_user_registration_path%></li>
          <li><%=link_to "Logout", destroy_user_session_path, method: :delete%></li>
        <%else%>
          <li><%=link_to "Register", new_user_registration_path%></li>
          <li><%=link_to "Login", new_user_session_path%></li>
        <%end%>
        </ul>
        </div>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <ul>
        <%if signed_in?%>
          <li><%=link_to current_user.email, edit_user_registration_path%></li>
          <li><%=link_to "Logout", destroy_user_session_path, method: :delete%></li>
        <%else%>
          <li><%=link_to "Register", new_user_registration_path%></li>
          <li><%=link_to "Login", new_user_session_path%></li>
        <%end%>
        </ul>
      </ul>
  </nav>
          
	<div class="container meat">
		<%= yield %>
	</div>

  <footer class="page-footer teal">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Raindance</h5>
                <p class="grey-text text-lighten-4">Raindance is a movie streaming solution for Independent films. Members can watch as much as they want, anytime, anywhere, on nearly any Internet-connected screen. Members can play, pause and resume watching, all without commercials or commitments.</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2015 Indiflix
            </div>
          </div>
        </footer>
</body>
<script type="text/javascript">
	$( document ).ready(function(){
		    $(".button-collapse").sideNav();
	})

      $(document).ready(function() {
    $('select').material_select();
});
</script>
</html>
